<div class="dialog" *ngIf="mode">
  <div class="title">
    <input matInput value="Edit Card" disabled />
  </div>
  <div class="fields">
    <div class="field-listing">
      <div *ngFor="let item of data.list.fields">
        <h4>{{ item.label }}</h4>
        <input
          *ngIf="mode === 'create' && item.id !== 1"
          matInput
          (change)="updateField(item, $event.target.value)"
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <input
          *ngIf="mode === 'create' && item.id === 1"
          matInput
          (change)="updateField(item, $event.target.value)"
        />
        <input
          *ngIf="mode === 'edit' && item.id !== 1"
          matInput
          (change)="updateField(item, $event.target.value)"
          [value]="this.data.entry[item.id] ? this.data.entry[item.id] : ''"
          [formControl]="control"
          [matAutocomplete]="auto"
        />
        <input
          *ngIf="mode === 'edit' && item.id === 1"
          matInput
          (change)="updateField(item, $event.target.value)"
          [value]="this.data.entry[item.id] ? this.data.entry[item.id] : ''"
        />
      </div>
    </div>
  </div>
  <div class="actions">
    <div *ngIf="mode === 'create'" class="create" (click)="create()">
      Create
    </div>
    <div *ngIf="mode === 'edit'" class="edit" (click)="edit()">Edit</div>
    <div *ngIf="mode === 'edit'" class="delete" (click)="erase()">Delete</div>
    <div class="cancel" (click)="cancel()">Cancel</div>
  </div>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option
    *ngFor="let street of autocompleteEntry$ | async"
    [value]="street"
  >
    {{ street }}
  </mat-option>
</mat-autocomplete>
