<div class="no-mobile">No Mobile <span>¯\_(ツ)_/¯</span></div>

<div
  class="grid"
  [ngClass]="{
    'grid-closed': this.navExpanded === 'closed'
  }"
>
  <div class="side-nav">
    <div class="entries">
      <div class="create" (click)="createList()">
        <mat-icon>add</mat-icon>
        Create List
      </div>
      <div
        *ngFor="let list of lists$ | async"
        (click)="openList(list)"
        [ngClass]="{ active: (activeList$ | async)?.id === list.id }"
      >
        {{ list.name }}
        <div class="config" (click)="editList(list)">
          <mat-icon>settings</mat-icon>
        </div>
      </div>
    </div>

    <div class="buttons">
      <div
        class="nav-bar-expand-toggle toggle-outside"
        [ngClass]="{
          'nav-bar-expand-toggle-opened': this.navExpanded === 'opened'
        }"
        (click)="toggleSideBar()"
      >
        <mat-icon>play_arrow</mat-icon>
      </div>
      <div
        class="nav-bar-expand-toggle toggle-inside"
        (click)="toggleSideBar()"
      >
        <mat-icon>play_arrow</mat-icon>
      </div>
      <div>
        <mat-icon>settings</mat-icon>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="filters">
      <div class="filters-inner" *ngIf="activeList$ | async as activeList">
        <div class="has-order">
          <mat-icon
            class="click"
            (click)="changeOrderDirection()"
            [style.transform]="orderDirection === 'des' ? 'rotate(180deg)' : ''"
            >arrow_drop_up</mat-icon
          >
          <mat-form-field appearance="fill">
            <mat-label>Order By</mat-label>
            <mat-select (selectionChange)="changeOrder($event.value)">
              <mat-option
                *ngFor="let field of activeList.fields"
                [value]="field.id"
                [style.display]="field.id === 1 ? 'none' : ''"
              >
                {{ field.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field
          appearance="fill"
          *ngFor="let field of activeList.fields"
          [style.display]="field.id === 1 ? 'none' : ''"
        >
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            (change)="changeFilter(field, $event.target.value)"
            [placeholder]="field.label"
          />
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="activeList$ | async">
      <div *ngIf="filterActiveList as activeList" class="card-container">
        <div class="card create-card" (click)="createEntry()">
          <div class="plus-icon"><mat-icon>add</mat-icon></div>
        </div>

        <div class="card" *ngFor="let entry of activeList.entries">
          <div class="entry-edit" (click)="editEntry(entry)">
            <mat-icon>settings</mat-icon>
          </div>
          <img [src]="entry['1']" />
          <div class="card-from-list">
            <div class="card-name-holder">
              <div class="card-name" *ngIf="entry['2']">{{ entry["2"] }}</div>
            </div>
            <div></div>
            <div class="card-info">
              <div
                *ngFor="let entryField of entry | keyvalue"
                style="display: contents"
              >
                <div
                  *ngIf="
                    entryField.key !== '1' &&
                    entryField.key !== '2' &&
                    entryField.key !== 'id'
                  "
                >
                  {{ findField(entryField.key, activeList) }}
                </div>
                <div
                  *ngIf="
                    entryField.key !== '1' &&
                    entryField.key !== '2' &&
                    entryField.key !== 'id'
                  "
                  style="text-align: right"
                >
                  {{ entryField.value }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
