* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.92);
  width: 100vw;
  height: 100vh;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
